body {
	margin: 0;
	font-family: 'san-selif';
	/* 폰트 설정 */
	background-color: #485861;
	color: #FFE6CF;
	font-size: 10px;
	/* 폰트 사이즈 설정 안해둔 값들의 기본 설정 */
	line-height: 1.2;
	font-weight: bold;
	overflow-x: hidden;
	/* x축으로 넘치는 부분 없애기(스크롤 안되게 하는 법) */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
	 /* 글자 굵기 */
	line-height: 1.2;
}

h1 {
  /* 특정 class 안의 태그만 지정*/
  font-size: 30px;
  line-height: 30px;
	/* 줄과 줄 사이 간격 */
}

h2 {
	font-size: 24px;
}

p {
  margin:0;
}

ul, 
li {
  margin: 0;
  padding: 0;
  /* 안쪽여백 */
}

li {
  list-style: none;
}

input {
	background-color: rgba(255, 255, 255, 0.08);
	border:none;
	height: 40px;
	border-radius: 8px;
	font-size: 14px;
	color:white;
	text-align: center;
	transition:0.2s;
}

input:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 0.12);
}

input::placeholder {
	color:rgba(255, 255, 255, 0.3);
	text-align: center;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	color: #FFE6CF;
	font-size: 15px;

}