header h2 {
    margin: 50px auto;
    text-align: center;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    grid-auto-rows: minmax(100px, auto);
}

.keyword {
	background-color: rgba(255, 255, 255, 0.08);
	border: none;
	height: 40px;
	border-radius: 8px;
	font-size: 14px;
	text-align: center;
    transition:0.2s;
    grid-column: 2 / 3;
}

.input-wrapper .item:nth-child(1) {
    grid-column: 3 / 5;
    grid-row: 1;
}

.input-wrapper .item:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 2;
}

.input-wrapper .item:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 3;
}

.input-wrapper .item:nth-child(4) {
    grid-column: 3 / 5;
    grid-row: 4;
}

.input-wrapper .item:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 5;
}

.input-wrapper .item:nth-child(6) {
    grid-column: 3 / 5;
    grid-row: 6;
}

.input-wrapper .item:nth-child(7) {
    grid-column: 3 / 5;
    grid-row: 7;
}